* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {

    display: flex;
    flex-direction: column;
}

header {
    min-height: 6.875rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

footer {
    min-height: 6.875rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}
.last{
    position: relative;
    display: flex;
width: 9.1875rem;
height: 1.875rem;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 1.25rem;
line-height: 1.875rem;
text-align: center;
text-transform: uppercase;
color: #000000;
white-space: nowrap;
justify-content: center;

}

main {
    flex: 1 0;
}

.header_container {
    margin: 0 5rem;
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    color: #000000;
}

.text1 {
    font-family: Oswald;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 3.3125rem;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.2;
}

.header_social {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.875rem;
    font-family: Oswald;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
    letter-spacing: 0em;
    text-align: center;
}

.home {
    position: relative;
    min-height: 38.875rem;
    background-image: url(img/coffe.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.home_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Oswald;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 5.5625rem;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: #FFFFFF;
}

hr {
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 50%);
    height: .625rem;
    width: 5rem;
    border-radius: 0px;
    background: #817070;
    z-index: 1;
}

.story1 {
    position: relative;
    min-height: 39.5rem;
    display: flex;
}

.text_s {
    position: relative;
    height: 3.3125rem;
    width: 5.6875rem;
    left: 50%;
    top: 3.75rem;
    transform: translate(-50%, -50%);
    font-family: Oswald;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 3.3125rem;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
}

.text_l {
    position: relative;
    width: 37.3125rem;
    height: 11.25rem;
    left: 53rem;
    top: 17.6875rem;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.875rem;
    display: flex;
}

.img1 {
    position: absolute;
    height: 25rem;
    width: 37.5rem;
    left: 7rem;
    top: 10.8125rem;
    border-radius: 0px;
    background: url(img/image_2.png);
    display: flex;
}

.blog {
    min-height: 44.4375rem;
    display: flex;
    background: #EFEFEF;
}

.text2 {
    position: relative;
    height: 3.3125rem;
    width: 4.75rem;
    left: 50%;
    top: 3.75rem;
    transform: translate(-50%, -50%);
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: center;
    color: #000000;
}

.frames-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 6.375rem;
    margin-right: 6.375rem;
}

.frame1 {
    position: relative;
    width: 22.8125rem;
    height: 29.625rem;
    top: 10.75rem;
    background: #FFFFFF;
}

.coffe_text1 {
    position: relative;
    height: 2.25rem;
    width: 9.75rem;
    left: 1.25rem;
    top: 1.25rem;
    white-space: nowrap;
    font-family: Oswald;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: 0em;
    text-align: center;
}

.coffe_img1 {
    background: url(img/coffe_img1.png);
    height: 13.5rem;
    width: 20.3125rem;
    left: 1.25rem;
    top: 5rem;
    border-radius: 0px;
    position: absolute;
    width: 20.3125rem;
    height: 13.5rem;
    left: 1.25rem;
    top: 5rem;
}

.coffe_story1 {
    height: 6.75rem;
    width: 20.3125rem;
    left: 1.25rem;
    top: 20rem;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #000000;
}

.frame2 {
    position: relative;
    width: 22.8125rem;
    height: 29.625rem;
    top: 10.75rem;
    background: #FFFFFF;
}

.coffe_text2 {
    position: relative;
    width: 11.0625rem;
    height: 2.25rem;
    left: 1.25rem;
    top: 1.25rem;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: center;
    color: #000000;
    white-space: nowrap;
}

.coffe_img2 {
    background: url(img/coffe_img2.png);
    position: absolute;
    width: 20.3125rem;
    height: 13.5rem;
    left: 1.25rem;
    top: 5rem;
}

.coffe_story2 {
    position: absolute;
    width: 20.3125rem;
    height: 6.75rem;
    left: 1.25rem;
    top: 20rem;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #000000;
}

.frame3 {
    position: relative;
    width: 22.8125rem;
    height: 29.625rem;
    top: 10.75rem;
    background: #FFFFFF;
}

.coffe_text3 {
    white-space: nowrap;
    position: relative;
    width: 12.8125rem;
    height: 2.25rem;
    left: 1.25rem;
    top: 1.25rem;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: center;
    color: #000000;
}

.coffe_img3 {
    background: url(img/coffe_img3.png);
    position: absolute;
    width: 20.3125rem;
    height: 13.5rem;
    left: 1.25rem;
    top: 5rem;
}

.coffe_story3 {
    position: absolute;
    width: 20.3125rem;
    height: 6.75rem;
    left: 1.25rem;
    top: 20rem;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #000000;
}

.contact {
    position: relative;
    min-height: 21.0625rem;
    display: flex;
    background-color: #817070;

}

.button {
    position: absolute;
    display: flex;
    width: 8.0625rem;
    height: 3.4375rem;
    top: 14rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #FFFFFF;
    box-sizing: content-box;
    display: inline-block;
}

.submit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-align: center;
    text-transform: uppercase;
    color: #817070;
}

.rectangl5 {
    box-sizing: border-box;
    width: 8.0625rem;
    height: 3.4375rem;
    top: 0;
    left: 0;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
}

.email {
    display: flex;
    position: relative;
    white-space: nowrap;
    width: 6.9375rem;
    height: 1.875rem;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 9.0625rem;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
}

.input {
    display: flex;
    width: 18.75rem;
    height: 3.4375rem;
    top: 7.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1.75rem;
    border: 3px solid #FFFFFF;
}

.Subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 10.0625rem;
    height: 3.3125rem;
    left: 50%;
    transform: translateX(-50%);
    top: 3.75rem;
    justify-content: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 3.3125rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

